[submodule "packages/pahomqtt-latest"]
	path = packages/pahomqtt-latest
	url = git@github.com:seblee/paho.mqtt.embedded-c.git
[submodule "packages/cJSON-v1.0.2"]
	path = packages/cJSON-v1.0.2
	url = git@github.com:seblee/cJSON.git
[submodule "packages/at_device-latest"]
	path = packages/at_device-latest
	url = git@github.com:seblee/at_device.git
[submodule "packages/mbedtls-v2.6.0"]
	path = packages/mbedtls-v2.6.0
	url = git@github.com:seblee/mbedtls.git
